html {
  background-color: rgb(202, 200, 200);
  display: flex;
  height: 700px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body > div {
  margin: auto;
}
#toast {
  position: fixed;
  top: 10px;
  right: 10px;
}
.toast {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: rgb(253, 249, 249);
  border-radius: 4px;
  max-width: 450px;
  min-width: 500px;
  padding: 10px 0;
  border-left: 4px solid;
  box-shadow: 0 2px 6px rgb(245, 245, 245);
  margin-top: 24px;
  animation: slideInLeft ease 0.3s, fadeOut linear 1s 3s forwards;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
.toast__icon,
.toast__close {
  padding: 0 20px;
  font-size: 25px;
}

.toast__icon {
}

.toast__body {
  flex-grow: 1;
}
.toast__title {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
}
.toast__msg {
  color: #888;
  margin-top: 4px;
}
.toast__close {
  color: rgb(158, 157, 157);
  cursor: pointer;
}
.toast--success {
  border-color: #20a779;
}

.toast--success .toast__icon {
  color: #20a779;
}
.toast--waring {
  border-color: #f1a82d;
}
.toast--waring .toast__icon {
  color: #f1a82d;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 12px 36px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 50px;
  cursor: pointer;
}
.btn--sucsess {
  background-color: #20a779;
}
.btn--warning {
  background-color: #f1a82d;
}
